#lezioni img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

img {
  height: 150px;
}

#lezioni {
  text-align: center;
  background-color: #F2F2CD;
  padding: 15px 10px;
}

#steps {
  text-align: center;
  padding: 15px 10px;
}

#why {
  text-align: center;
  background-color: #F2F2CD;
  padding: 15px 10px;
}

[class^=col-] {
  padding-bottom: 15px;
}

/* MEDIA QUERIES */
@media all and (min-width: 992px) {
  .container {
    margin-top: 80px;
  }

  img {
    height: 200px;
  }

  #lezioni{
    background-color: transparent;
    }

  #why {
    margin-top: 50px;
    background-color: #f9f9f9;

  }

  #steps {
    margin-top: 50px;
    background-color: #f9f9f9;
  }

  #why h1{
    padding-bottom: 80px;
  }
}
